<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Weather Journal</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      <h1>Travel App</h1>
      <p>Are you looking for some information about the location you are visiting? <br> Just enter the destination city and the departure date below! <br> Add as many trips as you want! <br>
      </p>
    </div>
    <div class="holder zip">
      <div class="">
        <label for="zip">Where are you going?</label>
        <input type="text" id="destination" placeholder="enter your destination here">
      </div>
      <div class="">
        <label for="feelings">When are you leaving?</label>
        <input type="date" class="myInput" id="dep_date" placeholder="Enter the date here"></input>
      </div>
      <button id="generate" type="submit" name="" value="submit" onclick="return Client.genAnswer(event)" onsubmit="return genAnswer(event)"> Let's go! </button>
    </div>
    <div class="holder entry" id='all_trip'>
    </div>
    <div id="old_trips"></div>
  </div>
  <footer>
      <p>Front End Web Developement Nanodegree Program</p>
      <p>Credits: <a href="http://www.geonames.org/export/web-services.html">Geonames</a> <a href="https://pixabay.com/api/docs/">Pixabay</a> <a href="https://restcountries.eu/#api-endpoints-all"> REST countries</a>, <a href="https://www.weatherbit.io/">Weatherbi</a></p>
      <p>Sumbission Date: 03/28/2021</p>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>
