<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Weather Journal</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      <h1>Travel App</h1>
    </div>
    <div class="holder zip">
      <label for="zip">Where are you going?</label>
      <input type="text" id="zip" placeholder="enter your destination here">
      <label for="feelings">When are you leaving?</label>
      <input type="date" class="myInput" id="feelings" placeholder="Enter the date here"></input>
      <button id="generate" type="submit" name = "" value="submit" onclick="return Client.genAnswer(event)" onsubmit="return genAnswer(event)" > Let's go! </button>
    </div>
    <div class="holder entry">
      <div class="title" id="data_title">...is waiting for you!</div>
      <div id="entry_holder">
        <div id="img">
          <img src="" alt="" id="img_small">
        </div>
        <div class="info">
          <div id="date"></div>
          <div id="longitude"></div>
          <div id="latitude"></div>
          <div id="content"></div>
          <div id="countdown"></div>
        </div>
        <div class="weather">
          <div id="weath_data"></div>
          <div id="weirdIconTests">
        </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
