<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Weather Journal</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      <h1>Travel App</h1>
    </div>
    <div class="holder zip">
      <label for="zip">Where are you going?</label>
      <input type="text" id="destination" placeholder="enter your destination here">
      <label for="feelings">When are you leaving?</label>
      <input type="date" class="myInput" id="dep_date" placeholder="Enter the date here"></input>
      <button id="generate" type="submit" name="" value="submit" onclick="return Client.genAnswer(event)" onsubmit="return genAnswer(event)"> Let's go! </button>
    </div>
    <div class="holder entry" id='all_trip'>
    </div>
  </div>
  <div id="old_trips"></div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>
