@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Staatliches&display=swap');
$font-head: Staatliches, cursive;
$font-form: Maven Pro, sans-serif;
$primary-color: #F5F7F9;
$color-background: #d0efff;
$color-text: #03254c;
$color-borders: #2a9df4;

body {
  background: $color-background;
  font: 100% $font-form;
  // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 20% auto auto auto;
  grid-template-areas:
    "lo head head fi"
    "lo zip zip fi"
    "lo entry entry fi"
    "lo none none fi";
  justify-content: center;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  font-size: 20px;
  font: 100% $font-form;
  color: $color-text;
}

// HEADS:
.headline {
  grid-area: head;
  font: 100% $font-head;
  text-align: center;
  align-self: center;
  h1 {
    font-size: 3em;
  }
}


// FORM:



.entry {
  background: $color-background;
  border: 1px solid $color-borders;
  border-radius: 10px;
  grid-area: entry;
  width: auto;
  text-align: center;
  padding: 1em;
}

.zip {
  grid-area: zip;
  align-self: center;
  display: flex;
  flex-direction: column;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
}

input {
  height: 50px;
  width: auto;
  border: 1px solid $color-background;
  border-radius: 20px;
  color: grey;
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

button {
  height: auto;
  margin-top: 0.5em;
  background: #3b4a6b;
  color: #fffff8;
  font-size: 26px;
  font: 100% $font-form;
  border: 1px solid black;
  &:hover {
    background-color: $color-borders;
  }
}

h1 {
  font-size: 36px;
}

#data_title {
  margin-bottom: 1em;
  h2 {
      font: 100% $font-head;
      font-size: 1.5em;
    }
}

#entry_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  max-width: 400px;
  max-height: 400px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #3b4a6b;
  // font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3b4a6b;
  // font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3b4a6b;
  // font-family: 'Oswald', sans-serif;
}

/* RESPONSIVE FOR SMALL SCREEN */
@media (max-width: 600px) {
  #app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "head"
      "zip"
      "feel"
      "entry";
    justify-content: center;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }
}
